<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="newTask" @keyup.enter="addTask">
        <button @click="addTask">Add Task</button>
        <ul>
            <li v-for="item in items" :key="item.id">
                <span v-if="item.done">✅</span>
                <span v-if="!item.done">🔲</span>
                <span v-if="!editId === item.id"> {{ item.name }} </span>

                <input type="text" v-model="editTask" v-if="editId === item.id">
                <span v-if="!editId">
                    <button @click="remove(item)">&times;</button>
                    <button @click="edit(item)">Edit</button>
                </span>
                <span v-if="editId === item.id">
                    <button @click="update(item)">Update</button>
                    <button @click="cancel">Cancel</button>
                </span>
            </li>
        </ul>
    </div>
    <!-- instalasi vue -->
    <script src="https://unpkg.com/vue"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    newTask: '',
                    editTask: '',
                    editId: null,

                    items: [{
                            id: 1,
                            name: 'Makan Nasi',
                            done: false
                        },
                        {
                            id: 2,
                            name: 'Minum Susu',
                            done: true
                        },
                        {
                            id: 3,
                            name: 'Tidur Siang',
                            done: false
                        },
                        {
                            id: 4,
                            name: 'Olahraga',
                            done: true
                        },
                    ]
                }
            },

            methods: {
                addTask() {
                    this.items.push({
                        name: this.newTask,
                        done: false,
                    })
                    this.newTask = ''
                },
                remove(item) {
                    const index = this.items.indexOf(item)
                    this.items.splice(index, 1)
                },

                edit(item) {
                    this.editId = item.id
                    this.editTask = item.name
                },

                update(item) {

                },

                cancel() {
                    this.editId = ''
                    this.editTask = ''
                }
            }
        })
    </script>


</body>

</html>