<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="newTask" @keyup.enter="addTask">
        <button @click="addTask">Add Task</button>
        <ul>
            <li v-for="item in items">
                <span v-if="item.done">✅</span>
                <span v-if="!item.done">🔲</span>
                {{ item.name }}
                <button @click="remove(item)">&times;</button>
            </li>
        </ul>
    </div>
    <!-- instalasi vue -->
    <script src="https://unpkg.com/vue"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    newTask: '',
                    items: [{
                            id: 1,
                            name: 'Makan Nasi',
                            done: false
                        },
                        {
                            id: 2,
                            name: 'Minum Susu',
                            done: true
                        },
                        {
                            id: 3,
                            name: 'Tidur Siang',
                            done: false
                        },
                        {
                            id: 4,
                            name: 'Olahraga',
                            done: true
                        },
                    ]
                }
            },

            methods: {
                addTask() {
                    this.items.push({
                        name: this.newTask,
                        done: false,
                    })
                    this.newTask = ''
                },
                remove(item) {
                    const index = this.items.indexOf(item)
                    this.items.splice(index, 1)
                }
            }
        })
    </script>


</body>

</html>